:root {
  --color-background-light: #99CC99;
  --color-background: #229922;
  --color-background-dark: #006600;
  --color-text: #AABB99;
  --color-text-headline: #EEEEDD;
  --color-text-subline: #779966;
  --color-text-dark: #AABB99;
  --color-selection: #EEDD66;
  --color-opacity-middle: rgba(0, 0, 0, 0.25);
  --color-opacity-light: rgba(0, 0, 0, 0.125);
  --color-transition: background-color 0.3s ease;

  --shadow-light: 1px 1px 3px var(--color-opacity-middle);

  --size-base: 16;
  --size-font: calc(var(--size-base) * 1px);
  --size-button: calc((42.5 / var(--size-base)) * 1em);
  --size-checkbox: calc(31.75 / var(--size-base) * 1em);
  --size-input: calc((25.25 / var(--size-base)) * 1em);
}



@font-face {
  font-family: "garamond";
  src: url("./assets/fonts/EBGaramond-Regular.woff2") format("woff2"),
       url("./assets/fonts/EBGaramond-Regular.woff") format("woff"),
       url("./assets/fonts/EBGaramond-Regular.ttf") format("truetype"),
       url("./assets/fonts/EBGaramond-Regular.svg#Crayon Libre") format("svg");
}
@font-face {
  font-family: "open-sans";
  src: url("./assets/fonts/OpenSans-Regular.woff2") format("woff2"),
       url("./assets/fonts/OpenSans-Regular.woff") format("woff"),
       url("./assets/fonts/OpenSans-Regular.ttf") format("truetype"),
       url("./assets/fonts/OpenSans-Regular.svg#Crayon Libre") format("svg");
}



body {
  background-color: var(--color-background);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-image:
      radial-gradient(circle, var(--color-background-light) 0%,
          var(--color-background) 70%, var(--color-background-dark) 100%),
      url('./assets/patterns/skulls.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text-dark);
  cursor: default;
  font: var(--size-font) open-sans;
  margin: 0em;
  padding: 2em 8em;
  user-select: none;
}



body > main {
}
body > main * {
  color: var(--color-text);
  text-shadow: var(--shadow-light);
  font: 1em open-sans;
}
body > main button {
  background: var(--color-opacity-middle);
  border: 1px solid;
  border-radius: 2px;
  box-shadow: var(--shadow-light);
  color: var(--color-text-headline);
  cursor: pointer;
  height: var(--size-button)!important;
  padding: 0em 0.5em;
  text-align: center;
  transition: background-color 0.3s ease;
}
body > main button span {
  margin-right: 0.25em;
}
body > main button[type='checkbox'] {
  background: var(--color-opacity-light);
  height: var(--size-checkbox)!important;
  padding: 0em;
  width: var(--size-checkbox);
}
body > main button[type='checkbox']::before {
  content: "\00A0";
  position: relative;
  top: -0.5px;
}
body > main button[type='checkbox'][checked]::before {
  content: "\2714";
}
body > main button[type='checkbox'] + label {
  position: relative;
  top: -0.0175em;
  margin-left: 0.5em;
}
body > main label {
  color: var(--color-text-headline);
}
body > main label {
}
body > main label span {
  color: var(--color-selection);
}
body > main input {
  background: var(--color-opacity-light);
  border: 1px solid;
  border-radius: 2px;
  box-shadow: var(--shadow-light);
  height: var(--size-input);
  padding: 0.5em;
  transition: background-color 0.3s ease;
}
body > main label + input {
  display: block;
  margin-top: 0.5em;
}
body > main button + label {
  margin-left: 0.5em;
  position: relative;
  top: 0.25em;
}
body > main *[selected] {
  border-color: var(--color-selection)!important;
  border-width: 2px!important;
  box-sizing: border-box!important;
}
body > main *[disabled] {
  opacity: 0.5;
}
body > main button[disabled],
body > main input[disabled],
body > main a[disabled] {
  cursor: default;
}
body > main a {
  cursor: pointer;
}
body > main > h1 {
  color: var(--color-text-headline);
  font: 2.5em garamond;
  line-height: 0.8em;
  position: relative;
}
body > main > h1 * {
  font-family: garamond;
}
body > main > h1 > span {
  color: var(--color-text-subline);
  font-size: 0.75em;
  position: relative;
}



#initiation\@views {
  counter-reset: custom-counter;
  list-style-type: none;
}
#initiation\@views h1::before {
  color: var(--color-text-dark);
  content: counter(custom-counter) ".";
  counter-increment: custom-counter;
  left: -1em;
  position: absolute;
}
#initiation\@views #selection div {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
#initiation\@views #selection div {
  flex: 1 1 auto;
}
#initiation\@views #selection div button {
  height: unset!important;
  padding: 0.75em;
}
#initiation\@views #selection div button * {
  color: var(--color-text-headline);
  display: block;
}
#initiation\@views #selection div button span {
  padding: 0.5em;
}
#initiation\@views #selection div button * + * {
  padding-top: 1.25em!important;
}