:root {
  --color-background-light: #99CC99;
  --color-background: #229922;
  --color-background-dark: #006600;
  --color-text: #AABB99;
  --color-text-headline: #EEEEDD;
  --color-text-subline: #779966;
  --color-text-dark: #AABB99;
  --color-selection: #EEDD66;
  --color-opacity-middle: rgba(0, 0, 0, 0.25);
  --color-opacity-light: rgba(0, 0, 0, 0.125);
  --color-transition: background-color 0.3s ease;
  --shadow-light: 1px 1px 3px var(--color-opacity-middle);
}



@font-face {
  font-family: "garamond";
  src: url("./assets/fonts/EBGaramond-Regular.woff2") format("woff2"),
       url("./assets/fonts/EBGaramond-Regular.woff") format("woff"),
       url("./assets/fonts/EBGaramond-Regular.ttf") format("truetype"),
       url("./assets/fonts/EBGaramond-Regular.svg#Crayon Libre") format("svg");
}
@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/RobotoCondensed-Regular.woff2") format("woff2"),
       url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff"),
       url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"),
       url("./assets/fonts/RobotoCondensed-Regular.svg#Crayon Libre") format("svg");
}



body {
  background-color: var(--color-background);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-image:
      radial-gradient(circle, var(--color-background-light) 0%,
          var(--color-background) 70%, var(--color-background-dark) 100%),
      url('./assets/patterns/skulls.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text-dark);
  cursor: default;
  font: 1em roboto;
  margin: 0em;
  padding: 2em 8em;
  user-select: none;
}



body > main {
}
body > main * {
  color: var(--color-text);
  text-shadow: var(--shadow-light);
}
body > main button {
  background: var(--color-opacity-middle);
  border: 1px solid;
  border-radius: 2px;
  box-shadow: var(--shadow-light);
  color: var(--color-text-headline);
  cursor: pointer;
  padding: 1em;
  text-align: center;
  transition: background-color 0.3s ease;
}
body > main > button span {
  line-height: 0em;
  margin-right: 0.25em;
}
body > main label {
  color: var(--color-text-headline);
}
body > main label {
}
body > main label span {
  color: var(--color-selection);
}
body > main input {
  background: var(--color-opacity-light);
  border: 1px solid;
  border-radius: 2px;
  box-shadow: var(--shadow-light);
  padding: 0.5em;
  transition: background-color 0.3s ease;
}
body > main label + input {
  display: block;
  margin-top: 0.5em;
}
body > main button + label {
  margin-left: 0.5em;
  position: relative;
  top: 0.25em;
}
body > main > h1 {
  color: var(--color-text-headline);
  font: 2.5em garamond;
  line-height: 0.8em;
  position: relative;
}
body > main > h1 > span {
  color: var(--color-text-subline);
  font-size: 0.75em;
  position: relative;
}
body > main *[selected] {
  border-color: var(--color-selection)!important;
  border-width: 2px!important;
  box-sizing: border-box!important;
}
body > main button[type='checkbox']{
  background: var(--color-opacity-light);
  position: relative;
}
body > main button[type='checkbox']::before {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
body > main button[type='checkbox'][checked]::before {
  content: "\2714";
}
body > main button[type='checkbox'] + label {
  position: relative;
  top: 0.375em;
}



#initiation\@views {
  counter-reset: custom-counter;
  list-style-type: none;
}
#initiation\@views h1::before {
  color: var(--color-text-dark);
  content: counter(custom-counter) ".";
  counter-increment: custom-counter;
  left: -1em;
  position: absolute;
}
#initiation\@views h1[disabled] {
  opacity: 0.5;
}
#initiation\@views #selection button {
}
#initiation\@views #selection button * {
  color: var(--color-text-headline);
  display: block;
}
#initiation\@views #selection button span {
  padding: 1em;
}
#initiation\@views #selection button * + * {
  padding-top: 2em!important;
}
#initiation\@views #selection div {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}
#initiation\@views #selection div {
  flex: 1 1 auto;
}