:root {
  --color-background-light: #99CC99;
  --color-background: #229922;
  --color-background-dark: #006600;
  --color-text: #EEEEDD;
  --color-text-headline: #EEEEDD;
  --color-text-subline: #779966;
  --color-text-dark: #AABB99;
  --color-shadow: rgba(0, 0, 0, 0.25);
}



@font-face {
  font-family: "garamond";
  src: url("./assets/fonts/EBGaramond-Regular.woff2") format("woff2"),
       url("./assets/fonts/EBGaramond-Regular.woff") format("woff"),
       url("./assets/fonts/EBGaramond-Regular.ttf") format("truetype"),
       url("./assets/fonts/EBGaramond-Regular.svg#Crayon Libre") format("svg");
}
@font-face {
  font-family: "roboto";
  src:
      url("./assets/fonts/RobotoCondensed-Regular.woff2") format("woff2"),
      url("./assets/fonts/RobotoCondensed-Regular.woff") format("woff"),
      url("./assets/fonts/RobotoCondensed-Regular.ttf") format("truetype"),
      url("./assets/fonts/RobotoCondensed-Regular.svg#Crayon Libre") format("svg");
}



body {
  background-color: var(--color-background);
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-image:
      radial-gradient(circle, var(--color-background-light) 0%,
          var(--color-background) 70%, var(--color-background-dark) 100%),
      url('./assets/patterns/skulls.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-text-dark);
  font: 1em roboto;
  margin: 0em;
  padding: 2em 8em;
}



body > main {
}
body > main * {
  color: var(--color-text);
  text-shadow: 1px 1px 3px var(--color-shadow);
}
body > main > h1 {
  font: 2.5em garamond;
  height: 2em;
  position: relative;
}
body > main > h1 > span {
  color: var(--color-text-subline);
  font-size: 0.75em;
  position: relative;
  top: -0.75em;
}