#game\@memory {
}
#game\@memory #settings {
}
#game\@memory #settings h2 span {
  color: #CCCCCC;
}
#game\@memory #settings label {
  display: block;
}
#game\@memory #settings input[type='text'] {
  text-transform: uppercase;
}
