@font-face {
  font-family: "garamond";
  src:
      url("../fonts/EBGaramond-Regular.woff2") format("woff2"),
      url("../fonts/EBGaramond-Regular.woff") format("woff"),
      url("../fonts/EBGaramond-Regular.ttf") format("truetype"),
      url("../fonts/EBGaramond-Regular.svg#Crayon Libre") format("svg");
}

@font-face {
  font-family: "roboto";
  src:
      url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
      url("../fonts/RobotoCondensed-Regular.woff") format("woff"),
      url("../fonts/RobotoCondensed-Regular.ttf") format("truetype"),
      url("../fonts/RobotoCondensed-Regular.svg#Crayon Libre") format("svg");
}
