#initiation\@views {
  counter-reset: custom-counter;
  list-style-type: none;
}
#initiation\@views h1::before {
  color: var(--color-text-dark);
  content: counter(custom-counter) ".";
  counter-increment: custom-counter;
  left: -1em;
  position: absolute;
}